td, tr, table {
    border: 1px solid black;
}

body {
    background-image: url("imgs/fundoSite.png");
    background-size: cover;
}

#principal {
    width: 1024px;
    background-color: #7bbad3;
    border: none;
    margin: auto;
}

#banner {
    /*border: 1px solid mediumseagreen;*/
    background-image: url("imgs/bannerSite.png");
    text-align: center;
    float: left;
    width: 1024px;
    height: 100px;
}

#areaMenu {
    list-style: none;
    padding: 0px;
}

.opcoes {
    width: 339.3px; /* ~(1024/3) */
    height: 25px;
    text-align: center;
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.textOpc {
    border: none;
    float: left;
    width: 339px;
    margin-top: 3.4px; /* Alinhamento do texto no centro das opções */
}

#titulo {
    border: 1px solid rgba(0, 0, 0, 0.089);
    text-align: center;
    color: #093e6c;
    height: 80px;
}

#areaTitulo {
    border-radius: 10px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 5px 5px 5px 5px;
    height: 67.5px;
}

#conteudoTitulo {
    float: left;
    margin: auto;
    margin-left: 410px;
    margin-top: 15px;
}

#areaWelcome {
    background-color: white;
    height: 517px;
    margin-top: 10px;
}

#conteudoWelcome {
    border-radius: 10px;
    float: left;
    margin: 10px 0px 0px 0px;
    margin-left: 20px;
    width: 980px;
    height: 60px;
}

#conteudoWelcome2 {

    float:left;
    margin-top: 10px;
    margin-left: 20px;
    width: 980px;
    height: 420px;
}

.personagens {
    float: left;
    padding:26.4px;
    border: 1px solid rgba(233, 233, 233, 0.246);
}



#areaConteudo2 {
    margin-top: 10px;
    /*border: 1px solid red;*/
}

#p1 {
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    font-size: 20px;
}

#texto1 {
    float: left;
    margin-top: 10px;
    margin-left: 170px;
}

#texto2 {
    float: left;
    margin-top: 20px;
    font-size: 22px;
    margin-left: 35px;
}

#areaTexto {
    float: left;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: 68.5px;
}

#p2 {
    float: left;
    margin: auto;
    width: 445px;
}

#campoTexto {
    float: left;
    border-radius: 10px;
    width: 455px;
    height: 80px;
    margin-top: 30px;
    margin-left: 20px;
}

#campoTiro {
    clear: both;
}


#qtdTiros {
    font-size: 20px;
    width: 130px;
    margin-left: 455px;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
}

.corFundo1 {
    background-color: #3095ba;
}

.corFundo2 {
    background-color: rgba(255, 255, 255, 0.733);
}

.imagem {
    border-radius: 10px;
}

.estiloTexto {
    font-size: 30px;
}


#botao {
    float: right;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.limpar {
    clear: both;
}