td, tr, table {
    border: 1px solid black;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("imgs/fundoSite.png");
    background-size: cover;
}

#principal {
    width: 1024px;
    background-color: #7bbad3;
    border: none;
    margin: auto;
}

#banner {
    /*border: 1px solid mediumseagreen;*/
    background-image: url("imgs/bannerSite.png");
    text-align: center;
    float: left;
    width: 1024px;
    height: 100px;
}



.opcoes {
    width: 290.3px; /* ~(1024/3) */
    height: 25px;
    margin: 5px 5px 5px 34px;
    border-radius: 40px;
    text-align: center;
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

#areaMenu {
    list-style: none;
    padding: 0px;
}

#areaMenu a:link { 
	color: white; 
	background-color: rgb(0, 112, 192);
    border-radius: 40px;
}

#areaMenu a:visited {
	background-color: lightgray;
	color: rgb(98, 98, 98);
    
}

#areaMenu a:hover {
	background-color: orange;
}

#areaMenu a:active {
	background-color: #3170a7;
}

#areaMenu a {
	text-decoration: none;
    margin: auto;
    height: 25px;
	padding-top: 0px;
}

.textOpc {
    border: none;
    float: left;
    width: 291px;
    margin-top: 3.4px; /* Alinhamento do texto no centro das opções */
}


#titulo {
    border: 1px solid rgba(0, 0, 0, 0.089);
    color: #093e6c;
    height: 80px;
}

#areaTitulo {
    border-radius: 10px;
    border: 1px solid rgba(255, 0, 0, 0);
    margin: 5px 5px 5px 5px;
    height: 67.5px;
}

#conteudoTitulo {
    margin: auto;
    text-align: center;
    /*margin-left: 410px;*/
    margin-top: 15px;
}

#areaWelcome {
    background-color: white;
    height: 517px;
    margin-top: 10px;
}

#conteudoWelcome {
    border-radius: 10px;
    float: left;
    margin: 10px 0px 0px 0px;
    margin-left: 20px;
    width: 980px;
    height: 60px;
}

#conteudoWelcome2 {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 980px;
    height: 420px;
}

#areaTextoAmostra {
    float: left;
    background-color: rgba(255, 255, 255, 0.733);
    font-size: 18px;
    margin-top: 20px;
    height: 60px;
    width: 980px;
}

#textoAmostra {
    margin-left: 20px;
}

#fundoNat5{
    border-radius: 5px;
    background-color: rgba(228, 226, 98, 0.493);
}

#star {
    float: right;
    margin-bottom: 5px;
    margin-right: 20px;
    color: rgb(224, 210, 81);
}

.amostra {
    float: left;
    /*border: 1px solid black;*/
    width: 300px;
    height: 300px;
    margin: 17px 12px 5px 12px; /*top right bottom left */
    background-color: white;
    border-radius: 20px;
}

#descAmostra1 {
    background-color: rgb(85, 187, 187);
    text-align: center;
    margin-top: 12px;
    font-size: 23px;
    border-radius: 5px;
}

#descAmostra2 {
    background-color: rgb(187, 85, 85);
    text-align: center;
    margin-top: 12px;
    font-size: 23px;
    border-radius: 5px;
}

#descAmostra3 {
    background-color: rgb(85, 150, 187);
    text-align: center;
    margin-top: 12px;
    font-size: 23px;
    border-radius: 5px;
}

img {
    max-width: 100%;
}

.bloco {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
}


.bloco img{
    /*-webkit-transition: all 0.13 ease;*/
    transform: translateZ(0); /* isso aqui funciona para o CSS não embaçar a imagem*/
    backface-visibility: hidden;
    -webkit-transition-duration: 0.5s;
}

.bloco img:hover {
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.personagens {
    float: left;
    padding:26.4px;
    border: 1px solid rgba(233, 233, 233, 0.246);
}


#areaConteudo2 {
    margin-top: 10px;
    /*border: 1px solid red;*/
}

#p1 {
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    font-size: 20px;
}

#texto1 {
    float: left;
    margin-top: 10px;
    margin-left: 90px;
}

#texto2 {
    float: left;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 35px;
}

#areaTexto {
    float: left;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: 68.5px;
}

#p2 {
    float: left;
    margin: auto;
    width: 445px;
}

#campoTexto {
    float: left;
    border-radius: 10px;
    width: 455px;
    height: 80px;
    margin-top: 30px;
    margin-left: 20px;
}

#campoTiro {
    clear: both;
}


#qtdTiros {
    font-size: 20px;
    width: 130px;
    margin-left: 455px;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
}

.corFundo1 {
    background-color: #3095ba;
}

.corFundo2 {
    background-color: rgba(255, 255, 255, 0.733);
}

.imagem {
    border-radius: 10px;
}

.estiloTexto {
    font-size: 30px;
}


#botao {
    float: right;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    margin-right: 50px;
    margin-top: 40px;
}

.limpar {
    clear: both;
}